/* Paragraph Level Class/Style Definitions */

.cover
{
	text-align: center;
	margin-top:1em;
	margin-bottom:2em;
}
.bkpublisher
{
	font-size:x-small;
	text-align:center;
	margin-top:20em;
}
.halftitle
{
	font-family:"Times New Roman", serif;
	font-weight:bold;
	font-size:200%;
	text-align:center;
	text-indent:0em;
}
.subtitle
{
	font-family:"Times New Roman", serif;
	font-weight:bold;
	font-size:medium;
	text-align:center;
	margin-top:1em;
}
.bkauthor
{
	font-family:"Times New Roman", serif;
	font-size:160%;
	font-weight:normal;
	text-align:center;
	margin-top:0.5em;
	margin-bottom:1em;
}
.cpytxt
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:x-small;
	margin-top:1.5em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent: 0em;
}
.cpytxt-indent
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:1.5em;
}
.cpytxt-center
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:x-small;
	margin-top:1.0em;
	margin-bottom:0.25em;
	text-align:center;
	text-indent:0em;
}
.cpytxt-center1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:0.25em;
	text-align:center;
	text-indent:0em;
}
.cpytxt-right
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:0.25em;
	text-align:right;
	text-indent:0em;
}
.dedication
{
	font-family:"Times New Roman", serif;
	font-style:bold;
	font-size:small;
	margin-top:3em;
	margin-bottom:1em;
	text-align:center;
}
.acktxt
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:justify;
}
.acktxt-indent
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:1.5em;
}
.toc
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:0em;
}
.toc1us
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:0em;
}
.toc1s
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:0em;
}

.normal
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:small;
	margin-top:1em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:0em;
}
.normalt
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:small;
	margin-top:2em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:0em;
}
.normal-1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:5em;
	margin-bottom:1em;
	text-align:justify;
	text-indent:0em;
}
.normal-2
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.5em;
	margin-bottom:0.5em;
	text-align:justify;
	text-indent:0em;
}
.normal-3
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:small;
	margin-top:2em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:0em;
}

.bodytext
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:1.5em;
}
.bodytext-1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:1.5em;
}
.bodytext-center
{
	font-family:"Times New Roman", serif;
	font-size:small;
	font-weight:normal;
	margin-top:1.0em;
	margin-bottom:2.0em;
	text-align:center;
	text-indent:0em;
}
.bodytext-center-1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	font-weight:normal;
	margin-top:1.0em;
	margin-bottom:1.0em;
	text-align:center;
	text-indent:0em;
}
.bodytext-center-2
{
	font-family:"Times New Roman", serif;
	font-size:small;
	font-weight:normal;
	margin-top:5em;
	margin-bottom:0.25em;
	text-align:center;
	text-indent:0em;
}
.bodytext-right
{
	font-family:"Times New Roman", serif;
	font-size:small;
	font-weight:normal;
	margin-top:0.25em;
	margin-bottom:1em;
	text-align:right;
	text-indent:0em;
}
.hangindent
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:-0.8em;
	margin-left:0.8em;
}
.hangindent-1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:-0.8em;
	margin-left:0.8em;
}
.extract
{
	font-family:"Times New Roman", serif;
	font-size:small;
	font-weight:normal;
	margin-top:4em;
	margin-bottom:1em;
	margin-left:2.5em;
	margin-right:2.5em;
	text-align:justify;
	text-indent:0em;
}
.extract-cen
{
	font-family:"Times New Roman", serif;
	font-size:small;
	font-weight:normal;
	margin-top:4em;
	margin-bottom:1em;
	text-align:center;
	text-indent:0em;
}
.extract-1
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:small;
	margin-top:3em;
	margin-bottom:0.25em;
	margin-left:1.5em;
	text-align:justify;
	text-indent:0em;
}
.extract-indent
{
	font-family:"Times New Roman", serif;
	font-size:small;
	font-weight:normal;
	margin-top:0.25em;
	margin-bottom:0.25em;
	margin-left:1.5em;
	text-align:justify;
	text-indent:1.5em;
}
.extract-indent-1
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:small;
	margin-top:1em;
	margin-bottom:0.25em;
	margin-left:1.5em;
	text-align:justify;
	text-indent:1.5em;
}
.indexmain
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:left;
	margin-left:0.8em;
	text-indent:-0.8em;
}
.indexmain1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:0.25em;
	text-align:left;
	margin-left:0.8em;
	text-indent:-0.8em;
}
.indexindent
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:left;
	text-indent:1.5em;
}
.linebreak
{
	margin-top:1.5em;
	margin-bottom:1.5em;
}

/* Header Levels Class / Style Definitions */

.h1
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:130%;
	text-align:center;
	margin-top:2em;
	margin-bottom:0.25em;
}
.h2
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:110%;
	text-align:center;
	text-indent:0em;
	margin-top:4em;
	margin-bottom:0.25em;
}
.h2-cont
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:large;
	text-align:center;
	margin-top:2.5em;
	margin-bottom:1.5em;
}
.h2a
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:large;
	text-align:center;
	text-indent:0em;
	margin-top:0.5em;
	margin-bottom:1em;
}

.h3
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:large;
	text-align:center;
	text-indent:0em;
	margin-top:1em;
	margin-bottom:5em;
}
.h3a
{
	font-family:"Times New Roman", serif;
	font-weight:bold;
	font-size:medium;
	text-align:left;
	text-indent:0em;
	margin-top:1em;
	margin-bottom:1em;
}
.h4
{
	font-family:"Times New Roman", serif;
	font-weight:bold;
	font-size:small;
	text-align:left;
	text-indent:0em;
	margin-top:1em;
	margin-bottom:1em;
}
.h5
{
	font-family:"Times New Roman", serif;
	font-weight:bold;
	font-size:small;
	text-align:left;
	text-indent:0em;
	margin-top:1em;
	margin-bottom:1em;
}
/* ELEMENTs Class / Style Definitions */

.table
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0em;
	margin-bottom:0em;
	text-align:justify;
	text-indent:0em;
}
.table-left
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0em;
	margin-bottom:0em;
	text-align:left;
	text-indent:0em;
}
.table-right
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0em;
	margin-bottom:0em;
	text-align:right;
	text-indent:0em;
}
.table-center
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
}
td
{
	font-family:"Times New Roman", serif;
}

/* Character Style Definitions */

span.smallcaps
{
	font-family:"Times New Roman", serif;
	font-size:75%;
}
span.dropcap
{
	font-family:"Times New Roman", serif;
	font-weight:bold;
	font-size:x-large;
	float:left;
	margin-top:-0.25em;
}
span.small
{
	font-family:"Times New Roman", serif;
	font-size:small;
}
span.big
{
	font-family:"Times New Roman", serif;
	font-weight:bold;
	font-size:125%;
}
span.large
{
	font-family:"Times New Roman", serif;
	font-weight:normal;
	font-size:280%;
	margin-top:0.25em;
	margin-bottom:0.25em;
}
.boxnote
{
	padding-bottom: 0.25em;
	border-top: 0.1em solid #000000;
	padding-top: 0.25em;
	margin-top:0.25em;
	margin-bottom:0.25em;
}
.bib
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:1.5em;
}
.footnote
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:justify;
	text-indent:1.5em;
}
.pagebreak
{
	page-break-before:always;
}
.boxnote1
{
	padding-left: 0.5em;
	padding-bottom: 0.25em;
	background-color: #e0e1e2;
	padding-top: 0.25em;
}
body 
{
	margin-right: 30px;
}


.title-image
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:1em;
	text-align:center;
	text-indent:0em;
}

.image-center
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:1em;
	text-align:center;
	text-indent:0em;
}
.image-center-1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:center;
	text-indent:0em;
}
.image-left
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:1em;
	margin-bottom:1em;
	text-align:left;
	text-indent:0em;
}
.image-left-1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	margin-top:0.25em;
	margin-bottom:0.25em;
	text-align:left;
	text-indent:0em;
}
.svg
{
	max-width: 100%;
}
.center-1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	font-weight:normal;
	margin-top:1.5em;
	margin-bottom:1.5em;
	margin-left:6em;
	text-align:left;
	text-indent:0em;
}
body
{
	margin-right: 30px;
}
.bodytext-center_1
{
	font-family:"Times New Roman", serif;
	font-size:small;
	font-weight:normal;
	margin-top:1.0em;
	margin-left:4em;
	margin-bottom:1.0em;
	text-align:left;
}